body {
    background-color: #142d50 !important; /*Importan! para que tenga mas especificidad que boostrap*/
    font-family: 'Inter', sans-serif;
}

.bg-light {
     background-color: #142d50 !important; /*Importan! para que tenga mas especificidad que boostrap*/
    font-family: 'Inter', sans-serif;
}
.texto-primario {
    color: #f7f7f9 !important; 
}

h1 {
    text-align: center;
    padding-top: 10px;
}
.texto-secondario {
    color: #d9eef8 !important; 
}


h1.display-4 {
    letter-spacing: -1px;
}

.container { max-width: 400px; margin: 0 auto; }
    #mensaje { min-height: 60px; } /* Espacio reservado para la alerta */

h2 {
    padding-top: 20px;
}

.container { max-width: 400px; margin: 0 auto; }
.saldo-info { background: #f8f9fa; padding: 10px; border-radius: 5px; margin-bottom: 20px; }