body {
    background-color: rgb(218, 243, 234);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    background-color: aliceblue;
    color: rgb(216, 216, 83);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

p {
    color: rgb(1, 86, 97);
}

h4 {
    color: rgb(240, 161, 57);
}

ul li {
    padding: 10px;
}

.form-label {
    color: rgb(1, 86, 97);
}

a {
    color: rgb(1, 86, 97);;
}

.form-control {
    width: 200px;
}