body.bg-light {
    background-color: #142d50 !important; /*Importan! para que tenga mas especificidad que boostrap*/
    font-family: 'Inter', sans-serif;
}


.text-primary {
    color: #f7f7f9 !important; 
}


.text-secondary {
    color: #d9eef8 !important; 
}


.btn-primary {
    background-color: #0d1440  ; 
    border: none;
    padding: 15px 40px;
    border-radius: 10px; 
    font-weight: 600;
    transition: all 0.3s ease; 
}

.btn-primary:hover {
    background-color: #d9eef8; 
    transform: translateY(-3px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

h1.display-4 {
    letter-spacing: -1px;
}